{% extends 'mailing/home.html' %}

{% block content %}
<div class="container">
    <div class="row text-center">

        <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:client_create' %}">Создать клиента</a>

        <div class="pb-4"></div>
        {% for client in object_list %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ client.name }}</h4>
                </div>
                <div class="card-body">
                    <p class="text-start">Почта клиента: {{ client.email }}</p>
                    <p class="text-start">Комментарий: {{ client.comment }}</p>
                    <h1 class="card-title pricing-card-title"></h1>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'mailing:client_edit' client.pk %}"
                           role="button">Изменить</a>
                        <a class="btn btn-sm btn-outline-danger" href="{% url 'mailing:client_delete' client.pk %}"
                           role="button">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}