{% extends 'mailing/home.html' %}

{% block content %}
<div class="container">
    <div class="row text-center">

        <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:message_create' %}">Создать текст рассылки</a>

        <div class="pb-4"></div>
        {% for message in object_list %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ message.subject }}</h4>
                </div>
                <div class="card-body">
                    <p class="text-start">Текст рассылки: {{ message.body | slice:100 }}</p>
                    <h1 class="card-title pricing-card-title"></h1>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'mailing:message_detail' message.pk %}"
                           role="button">Подробно</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}