{% extends 'mailing/home.html' %}

{% block content %}
<div class="container">
    <div class="row text">
        <div class="col-12">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="col-6">
                    <div class="card">
                        {% if object %}
                        <p class='card-text'>Редактирование текста рассылки</p>
                        {% else %}
                        <p class='card-text'>Создание текста рассылки</p>
                        {% endif %}
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-success">
                                {% if object %}
                                Сохранить
                                {% else %}
                                Создать
                                {% endif %}
                            </button>
                            <a class="btn btn-primary" href="{% url 'mailing:message_list' %}"
                               role="button">Отмена</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}